body {
    background-image: url("http://wallpapercave.com/wp/j7SQhCc.jpg");
}

h1, h2, h3, h4, h5, h6, p {
    color: darkred;
}

button {
    background-color: slategrey;
    color: darkblue;
}
button:hover {
    background-color: darkgreen;
}
